{% extends "base.html" %}


{% block chat_form %}



	<form action="process_question/" method="post" >
	  {% csrf_token %}
	  {{ form.as_p }}
	  <div class="">
		<div class="">
		  <div class="">

			<p class="form_label"><label><strong>{{ greeting_phrase }}</strong></label></p>
			<p class="input_area"><input type="text" name="question" placeholder="Введіть своє запитання..."></p>
			<p class="button_area"><button type="submit" class="btn btn-primary btn-md"><strong>Запитати</strong></button></p>
		  </div>
		</div>
	  </div>
	</form>
{% endblock %}

{% block main_answer %}

{% endblock %}

{% block unsubscribe %}
    <form action="ask_unsubscribe/" method="post">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <div class="">
		<div class="">
		  <div class="">

			<input hidden="true" type="text" name="result" value="True" />
			<p class="button_area">
				<span>
					<button type="submit" class="btn btn-primary btn-md"><strong>Завершити діалог</strong></button>
				</span>
				
			</p>
		  </div>
		</div>
	  </div>
	</form>
{% endblock %}